<header class="header">
  <div class="header__container">
    <a href="/">
      <img class="logo" src="/img/kubenews-logo.svg" alt="Kubenews" srcset="" />
    </a>
    <a class="header__button" href="/post">Novo Post</a>
  </div>
</header>