        <!-- navbar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-warning" href="/">KubeNews-v2</a>
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" style="color: #ffc105;" aria-current="page" href="/post">Novo Post</a>
                        </li>                       
                      </ul>
                </div>
            </nav>
        </div>